/* CustomDropdown.css */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width:100%
  }
  
  .dropdown-header {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 1vmax;
  }
  .cross{
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
  }
  .borderSelected{
    border : 0.5px solid gray;
    background-color: azure;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    
  }
  
  .arrow {
    margin-left: 2%;
    transition: transform 0.2s ease;
  }
  
  .arrow.up {
    transform: rotate(180deg);
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    width:99.5%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
    height: 150px;
    overflow-y: scroll;
  }
  
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  }
  