.cardWrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 #aaa;
  position: relative;
  cursor: pointer;
  .status{
    position: absolute;
    padding: 2%;
    right: 4%;
     border-radius: 7px;
    background-color: gold;
    color: red;
  }
  .imgPoster{
    object-fit: fill;
    aspect-ratio: 3/2;
  }
  .title{
    width: 100%;
   font-size: 16px;
  font-weight: 600;
  color: rgb(255, 128, 0);
  margin: 6px 0;
  word-wrap: break-word;


  }
  .infoDiv{
    display: flex;
    justify-content: space-between;
    .styleDetails{
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        color: rgb(158, 62, 177);
        white-space: nowrap;
        overflow: hidden;
        text-transform: capitalize;
        
    }
  }
}


